.blue-btn {
  background: linear-gradient(
    90deg,
    rgb(30, 132, 253) 0%,
    rgb(2, 56, 197) 100%
  );
}

.big-circle-org {
  max-width: 50%;
  /* min-height: 40%; */
  aspect-ratio: 1 / 1;
  background: linear-gradient(45deg, rgb(15, 19, 31) 0%, rgb(253, 83, 30) 100%);
}

.orange-btn {
  background: linear-gradient(90deg, rgb(253, 83, 30) 0%, rgb(154, 37, 0) 100%);
}

.small-circle-grey {
  max-width: 20%;
  aspect-ratio: 1 / 1;
  inset-block-start: -3em;
  inset-inline-end: 5em;
  background: linear-gradient(
    45deg,
    rgb(15, 19, 31) 0%,
    rgb(167, 167, 167) 100%
  );
}

.big-circle {
  max-width: 50%;
  /* min-height: 40%; */
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    45deg,
    rgb(15, 19, 31) 0%,
    rgb(30, 132, 253) 100%
  );
}

.small-circle {
  max-width: 13%;
  aspect-ratio: 1 / 1;
  inset-block-start: -26em;
  inset-inline-end: -23em;
  background: linear-gradient(
    45deg,
    rgb(15, 19, 31) 0%,
    rgb(167, 167, 167) 100%
  );
}

.grey-circle {
  inset-block-end: 9em;
  inset-inline-start: -4em;
  max-width: 14%;
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    45deg,
    rgb(15, 19, 31) 0%,
    rgb(167, 167, 167) 100%
  );
}

.circle-one {
  min-height: 170px;
  aspect-ratio: 1 / 1;
  background: linear-gradient(45deg, rgb(15, 19, 31) 0%, rgb(253, 83, 30) 100%);
}

.circle-two {
  min-height: 170px;
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    45deg,
    rgb(15, 19, 31) 0%,
    rgb(231, 246, 167) 100%
  );
}

.circle-three {
  min-height: 170px;
  aspect-ratio: 1 / 1;
  background: linear-gradient(
    45deg,
    rgb(15, 19, 31) 0%,
    rgb(44, 216, 254) 100%
  );
}
